body {
  background: url("/images/background.jpg");
  background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.container {
  width: 80%
}

.index {
  background-color: rgba(255, 255, 255, 0.25);
  height: 100%;
}

h1 {
  text-align: center;
  font-family: Pacifico, cursive;
}

.description {
  border: 1px solid black;
  border-radius: 2px;
}

hr {
  border-color: rgba(0, 0, 0, 0.25);
  width: 60%;
}

img {
  border: 1px solid black;
  border-radius: 5px;
  float: left;
  margin: 20px;

}

.images-200 {
  width: 200px;
}

.images-240 {
    height: 350px;
    width: 100%;
}

.images-300 {
  width: 300px;
}

.images-500{
    height: 350px;
    width: 100%;
}
